.unselectable { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;}

.select-box {background-image: url(select-box.png); background-position: right top; background-repeat: no-repeat;
             cursor: pointer; cursor: hand; }
             
#monthsCtl_ddlMonths {width: 148px; height: 23px;}
.txt-months {vertical-align: middle; padding: 0; margin: 0; cursor: pointer;}
#monthsCtl_chkList {border-collapse:collapse; text-align: left;}
#monthsCtl_chkList input, #monthsCtl_chkList label {vertical-align: middle; cursor: pointer;}

.multidropdown {color: rgb(0, 0, 0); background-color: #F8F8FF; border: 1px solid Gray; height: 255px; width: 147px; font-size: 12px;
					position: absolute; z-index: 1000; margin: 0; padding: 0;}

#monthsCtl_chkList label {padding: 2px 5px; width: 100px;}
#monthsCtl_chkList tr:hover {background-color: #F6DD75;}

#month-control, #results {float: left; margin: 5px 15px;}
